.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
    max-width: none;
    overflow: hidden;
}

.contentWrapper {
    display: flex;
    flex: 1;
    overflow: hidden;
    height: calc(100vh - 60px); /* Adjust based on your header height */
}

.chatContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.messageListContainer {
    flex: 1;
    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.sidebarContainer {
    height: 100%;
    width: 240px;
    overflow: hidden;
    border-left: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}
