.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    height: 54px;
    width: 100%;
}

.channelInfo {
    overflow: hidden;
}

.hashIcon {
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-5));
}

.divider {
    height: 24px;
    margin: 0 8px;
}

.topic {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (max-width: $mantine-breakpoint-sm) {
        display: none;
    }
}

.actions {
    white-space: nowrap;
}

.membersList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.memberItem {
    padding: 8px;
    border-radius: var(--mantine-radius-sm);

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
    }
}
